<div class="mb-3 row">
  <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
  <input
    type="text"
    class="form-control"
    name="searchTerm"
    (change)="search($event)"/>
</div>

<div class="characters mx-4 table-responsive">
  <table class="table table-hover ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Species</th>
        <th scope="col">Information</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters">
        <th scope="row"> {{ character.id }} </th>
        <td> <img src="{{character.image}}" alt=""> {{ character.name }} </td>
        <td> {{ character.status }} </td>
        <td> {{ character.species }}</td>
        <td> <button type="button" class="btn btn-dark"> + View More</button> </td>
      </tr>
    </tbody>
  </table>
</div>

