@import './../../../styles/variables.scss';

.character {
  max-height: 100%;
  max-width: 100%;
  svg {
    width: 84%;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    opacity: 0.2;
  }
}

.head-card {
  gap: 4rem;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  position: relative;
  h1 {
    font-size: 4.5rem;
    font-weight: 900;
    color: white;
    padding: 1rem 2rem;
    background-color: $secondary-color;
    border-radius: 1rem;
  }

  img {
    width: 15%;
  }
}

.body-card {
  padding: 2rem 2rem;


  h3 {
    font-weight: 900;
  }
  .informations {
    width: 100%;
    gap: 1rem;
    row-gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    color: white;
  }
}



