@import './styles/variables.scss';

.app {
  width: 99vw;
  height: 100vh;
}

.nav-bar {
  border-radius: 20px;
  color: $primary-color;
  h3 {
    color: $primary-color;
    font-weight: 900;
  }
  a {
    color: $primary-color;
    font-weight: 400;

    i {
      color: $primary-color;
      margin-right: 0.5rem;
    }
  }
}

.dash {
  background-color: $primary-color;
  height: 100vh;
  margin: 0;
  padding: 0;

}
