<div class="app">
  <div class="row">
    <div class="nav-bar col-2">
      <h3 class="text-center pt-5">Dashboard</h3>
        <nav class="pt-5 px-4 flex-column text-white">
            <a class="nav-link mb-3" routerLink="/characters">Character</a>
            <a class="nav-link mb-3" routerLink="/location">Location</a>
            <a class="nav-link mb-3" routerLink="/episode">Episode</a>
        </nav>
    </div>
    <div class="dash col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

