@import './styles/variables.scss';

.app {
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.nav-bar {
  border-radius: 0rem 0rem 2rem 0rem;
  background-color: white;
  color: $primary-color;
  h3 {
    color: $primary-color;
    font-weight: 900;
  }
  li {
    list-style-type: none;
    border-radius: 10px;

    a {
      color: $primary-color;
      font-weight: 400;
      border-radius: 10px;
      padding: 1rem 1rem;
      display: flex;
      justify-content: center;

      &:hover{
        background-color: $tertiary-color;
      }

      i {
        color: $primary-color;
        margin-right: 0.5rem;
      }
    }
  }
}

.dash {
  background-color: $primary-color;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}

.active {
  background-color: $tertiary-color;
}

@media (max-width: 600px) {
  .app {
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 4fr;

    .nav-bar {
      padding-bottom: 0;
    }
  }
}
