@import './../../styles/variables.scss';

h1 {
  color: white;
  margin-left: 1.5rem;
  margin-top: 2rem;
}

a {
  background-color: $tertiary-color;
  font-weight: 900;
  color: $primary-color;
}

img {
  width: 50px;
  border-radius: 50%;
  height: auto;
}

.characters {
  border-radius: 20px;
  width: auto;
  height: 380px;
  background-color: white;

  table {
    thead{
      th {
        background-color: $secondary-color;
        color: white;
      }
    }

  }
}
