@import './app/styles/variables.scss';
@import "~bootstrap-icons/font/bootstrap-icons.css";

$font-family-base: 'Roboto', sans-serif;

html, body {
  font-family: $font-family-base !important;
  margin: 0;
  padding: 0;
}


